<div class="cover-empty-wrap">
  <div class="areas-header">
    <h1 class="app-text">Editing area
      <div class="area-buttons">
        <%= link_to '→', @area, class: "ica-button" %>
      </div>
    </h1>
  </div>
</div>

<div class="areas-container">
    <div class="app-text form-content">
      <%= render 'form' %>
    </div>
</div>
