<div class="cover-empty-wrap">
  <div class="areas-header">
    <h1 class="app-text">New area
    </h1>
  </div>
</div>

<div class="areas-container">
	<div class="new-area-container">
		<div class="app-text new-area-content">
		<%= render 'form' %>
		</div> 
	</div>
</div>

