
<div class="container">
	<div class="message">
		<h1>Welcome to Ica Areas!</h1>
		<span>Ica allow you create and styliing media walls!</span>
	</div>
	<div class="landscape">
		<%= image_tag "landscape/1.png", size: "699x500", alt: "landscape png 1" %>
	</div>
</div>
