
<div class="container">
	<div class="message">
		<h1 class="app-text">Welcome to Ica Areas!</h1>
		<p class="app-text">Ica allows you create and stylize media walls!</p>
	</div>
	<div class="landscape">
		<%= image_tag "landscape/1.png", size: "699x500", alt: "landscape png 1" %>
	</div>
</div>
