/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
	padding: 0;
	margin: 0;
	background-color: #ededf9;
}

a {
	display: inline-block;
	text-decoration: none;
}

.container, .menu {
	margin: 0 auto;
	width: 1100px; 
	box-shadow: 0 0 10px #47459b;
}

.menu {
	width: 80%;
	position: relative;
	padding: 0 10%;
	background: #7977c4;
	background: linear-gradient(#7977c4, #918fd6);
	color: black;
	text-align: center;

	ul, ul li, .logo {
		display: inline-block;
		list-style: none;
		vertical-align: middle;
		margin: 0;
	}

	ul {
		padding: 0;
		width: 45%;

		li a {
			position: relative;
			margin-left: 15px;
			font-size: 14px;
		    line-height: 2.00625;
		    font-weight: 500;
		    letter-spacing: normal;
		    background-color: #47459b;
		    background: -webkit-linear-gradient(#333287, #47459b);
		    background: linear-gradient(#333287, #47459b);
		    border: 1px solid #47459b;
		    border-radius: 20px;
		    color: #fff;
		    cursor: pointer;
		    display: inline-block;
		    padding: 0 15px;
		    text-align: center;
		    text-shadow: 0 1px 1px rgba(28, 115, 184, 0.64);
		    white-space: nowrap;
		    font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
		}

		li a:hover {
			background-color: #3392de;
		    background: -webkit-linear-gradient(#47459b, #6362b2);
		    background: linear-gradient(#47459b, #6362b2);
		}

		.ts_input {
		    padding: 6px 6px 6px 35px;
		    width: 200px;
		    height: 17px;
		    line-height: 16px;
		    border: 0;
		    border-radius: 34px;
		    background-color: #333287;
		    color: #d9e2ec;
		    font-size: 17px;
		}
	}

	.logo {
		padding: 7px;
		margin: 0 auto;
		width: 70px; 
		font-size: 32px;
		font-weight: 500;
		text-align: center;
		text-shadow: 0 0 2px #fff;
		color: white;
		background-color: #5452a5;
	}

	.user-actions {
		text-align: left;
	}

	.ica-actions {
		text-align: right;
	}
}