/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
	position: relative;
	padding: 0;
	margin: 0;
	background: #fafafa;
}

a {
	display: inline-block;
	text-decoration: none;
}

.container {
	width: 1100px;
	margin: 0 auto;
	text-align: center;
}

.menu {
	position: relative;
	padding: 0 10%;
    background: rgba(35, 34, 35, 0.9);

	ul, ul li, .logo {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}

	ul {
		padding: 0;
		width: 45%;
		list-style: none;

		li a {
			position: relative;
			margin-left: 15px;
			font-size: 14px;
		    line-height: 1.6;
		    font-weight: 500;
		    letter-spacing: normal;
		    color: #ffffff;
		    cursor: pointer;
		    display: inline-block;
		    padding: 0 15px;
		    text-align: center;
		    text-shadow: 0 1px 1px rgba(28, 115, 184, 0.64);
		    white-space: nowrap;
		    font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
		}

		li a:hover {
			color: #cecece;
			border-color: #cecece;
		}

		.ts_input {
		    padding: 6px 6px 6px 35px;
		    width: 150px;
		    height: 17px;
		    line-height: 16px;
		    border: none;
		    background-color: transparent;
		    background: image-url("search.png") 5px 5px no-repeat; 
		 	color: white;
		    font-size: 15px;
		    font-weight: normal;
		}
	}

	.logo {
		padding: 4px;
		margin: 0 auto;
		width: 70px; 
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		color: #FFF;
	}

	.user_photo, .user_name {
		color: #fff;
		position: absolute;
	}

	.user_name {
		left: 10%;
		top: 30%;
		text-decoration: underline;
	}

	.user_actions {
		text-align: center;
	}

	.ica_actions {
		text-align: right;
	}
}