/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	padding: 0;
	margin: 0;
}

html, body {
	position: relative;
	background: #ebebeb;
}

a {
	display: inline-block;
	text-decoration: none;
}

.container {
	width: 1100px;
	margin: 0 auto;
	text-align: center;
}

.app-text {
	font-family: "Myriad Set Pro 300", "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	line-height: 1.125;
    font-weight: 100;
    letter-spacing: 1px;
}

.menu {
    background: rgba(35, 34, 35, 0.9);

    .menu-text {
		font-size: 14px;
	    line-height: 1.6;
	    font-weight: 300;
	    letter-spacing: 0.8px;
	    color: #fff;
	    text-shadow: 0 1px 1px rgba(28, 115, 184, 0.64);
	    white-space: nowrap;
	    font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	}

    .menu-container {
    	font-size: 0;
		width: 1100px;
		margin: 0 auto;

		.user-actions, .logo, .ica-actions {
			display: inline-block;
			vertical-align: middle;
		}

		.user-actions, .ica-actions {
			width: 525px;
		}

		.user-actions {
			text-align: left;
			.menu-item {
				margin-right: 35px;
				&:first-child {
					margin-left: 90px;
				}
			}
			.user-name {
				display: inline-block;
				text-decoration: underline;
			}
		}

		.ica-actions {
			text-align: center;

			.menu-item {
				margin-left: 35px;
			}
			.ts_input {
				padding: 7px 0;
				padding-left: 30px;
				width: 155px;
			    height: 17px;
			    background-color: transparent;
			    background: image-url("search.png") 5px 5px no-repeat;
			    border: none;
			    color: #cecece;
			}
			.areas-button {
				width: 40px;
				height: 25px;
				padding: 5px 0;
				vertical-align: middle;
			}
		}

		a:hover {
			cursor: pointer;
			color: #cecece;
			border-color: #cecece;
		}

		.logo {
			/* MENU HEIGHT*/
			padding: 4px 0;
			font-size: 30px;

			width: 50px;
			font-weight: normal;
			text-align: center;
			color: #FFF;
		}
	}
}

.ica-button {
	display: inline-block;
	padding: 10px 10px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #707570;
	background-color: #575b57;
  background-image: -webkit-linear-gradient(#575b57, #424742);
  background-image: linear-gradient(#575b57, #424742);
  &:hover {
		cursor: pointer;
	}
}

.red-button {
	border: 1px solid #a54848;
  background-image: -webkit-linear-gradient(#a53333, #892626);
  background-image: linear-gradient(#a53333, #892626);
}
.green-button {
	border: 1px solid #48a54a;
  background-image: -webkit-linear-gradient(#30a332, #238425);
  background-image: linear-gradient(#30a332, #238425);
}
