.main_title {
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
}

@mixin devise_container_properties {
	margin: 0 auto;
	margin-bottom: 20px;
	width: 400px;
	border-radius: 3px;
	text-align: center;
}

@mixin button_properties {
	display: inline-block;
	width: 273px;
	height: 30px;
	color: #fff;
	font-weight: 600;
	margin-top: 5px;
	cursor: pointer;
}

.devise_container {
	@include devise_container_properties;
	background-color: rgba(255,255,255,0.95);
	border: 1px solid #dcdce8;
	padding: 40px 15px;
	
	form {
		margin: 0 auto;
		width: 275px;
		color: #444744;
		text-align: left;
		font-size: 15px;
		font-weight: 500;
		
		.field {
			margin-bottom: 15px;
			position: relative;
		}

		input {
			height: 25px;
			font-size: 15px;
			font-weight: 200;
			border-radius: 3px; 
			border: 1px solid #dcdce8;
		}

		.field input {
			width: 260px;
			padding-left: 10px;
			margin-top: 5px;
		}

		.field a {
			position: absolute;
			top: 0;
			right: 0;
			color: #333287;
		}

		.actions input {
			@include button_properties;
			background: linear-gradient(#4f724c, #7ac976);
			border: 1px solid #7dba78;
		}
	}

	.delete_account {
			@include button_properties;
			margin-top: 40px;
			background: linear-gradient(#724c4c, #c97676);
			border: 1px solid #ba7878;
	}
}

.notice, .alert, #error_explanation {
	@include devise_container_properties;
	font-size: 14px;
	border: 1px solid #bac6d3;
	padding: 10px 15px;
}

.notice {
	background-color: #fbfcde;
	color: #918610;
	border-color: #d0d1b1;
}

.alert, #error_explanation {
	color: #911;
    background-color: #fcdede;
    border-color: #d2b2b2;

    ul {
    	text-align: left;
    }
}

